/* ::-webkit-scrollbar {
  width: 50px;
  height: 50px;
  background-color: #374151;
} */

/* ::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 6px;
  box-shadow: inset 1px 1px 10px #9ca3af;
} */

/* ::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
} */

.page-enter-active,
.page-leave-active {
  transition: all 0.15s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  /* filter: blur(0.1rem); */
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s;
}
.fade-enter-from, 
.fade-leave-to {
  opacity: 0;
}